<%- include('partials/header') -%>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <ul class="row list-unstyled">
                <% for(var i=0; i<posts.length; i++) {%>
                    <li class="col-6 justify-content-between mt-5">
                        <figure>
                            <figcaption>
                                <%= posts[i].title%>
                            </figcaption>
                            <audio controls src="<%= posts[i].audio%>" type="audio/mp3">
                                Your browser does not support the
                                <code>audio</code> element.
                            </audio>
                        </figure>
                        <form action="/posts/deletePost/<%= posts[i].id %>?_method=DELETE" method="POST" class="col-3">
                            <button class="btn btn-primary fa fa-trash" type="submit"></button>
                        </form>


                    </li>
                    <% } %>
            </ul>
        </div>
    </div>
    <%- include('partials/footer') -%>